// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.goalkeepermodal {
    height: 250px;
    overflow-y: auto;
}

.forwardmodal {
    height: 250px;
    overflow-y: auto;
}

.defendermodal {
    height: 250px;
    overflow-y: auto;
}

.midfieldermodal {
    height: 250px;
    overflow-y: auto;
}

// .Menu__MenuTrigger {
//     cursor: pointer;
//   }